<ng-container *ngIf="formData$ | async as data">
  <ng-container *ngIf="data.name">

    <h1>Thank you very much!</h1>

    <h2>Your choice summary:</h2>
    <div class="summary-container">
      <div class="item-container" data-test-name>
        <div class="title">Name:</div>
        <div class="value">{{data.name}}</div>
      </div>

      <div *ngIf="data.username" class="item-container" data-test-username>
        <div class="title">Username:</div>
        <div class="value">{{data.username}}</div>
      </div>

      <div *ngIf="data.country" class="item-container" data-test-country>
        <div class="title">Country:</div>
        <div class="value">{{data.country}}</div>
      </div>

      <div *ngIf="data.postCode" class="item-container" data-test-post-code>
        <div class="title">Post code:</div>
        <div class="value">{{data.postCode}}</div>
      </div>


      <div *ngIf="data.favouriteMovie" class="item-container" data-test-favourite-movie>
        <div class="title">Favourite movie:</div>
        <div class="value">{{data.favouriteMovie}}</div>
      </div>


    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="!(formData$ | async)?.name">
  <div data-test-fail-info>Something went wrong... <a data-test-link-to-form routerLink="enter">Back to the form</a></div>
</ng-container>
