h1 {
 margin-bottom: 48px
}

.summary-container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .value {
      font-weight: 600;
    }
    .title{
      width: 115px;
    }
  }

  #sign-container {
    margin-top: 32px;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
  }

}
