@import 'normalize.css';

:root {
  --error-text: #F24223;
}

a {
  color: rgba(0, 170, 168, 1);
  text-decoration: none;
}

h1, h2 {
  color: #005a70;
}

body {
  font-family: Arial;
  font-size: 1rem;
  color: #484848;
  background-color: #fff;
  margin: 0;
}
