Please select your favourite movie!

<pre>{{formGroup.value | json}}</pre>
<pre>{{countriesOptions | json}}</pre>
<pre>valid: {{formGroup.valid | json}}</pre>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  name: <input pInputText formControlName="name"/> <sc-form-error-display [control]="formGroup.controls['name']"></sc-form-error-display>
  username: <input pInputText formControlName="username"/>  <sc-form-error-display [control]="formGroup.controls['username']"></sc-form-error-display>
  country: <p-dropdown [options]="countriesOptions"  formControlName="country"></p-dropdown> <sc-form-error-display [control]="formGroup.controls['country']"></sc-form-error-display>
  post code: <input pInputText formControlName="postCode"/>  <sc-form-error-display [control]="formGroup.controls['postCode']"></sc-form-error-display>
  favouriteMovie: <p-autoComplete #favouriteMovie  (completeMethod)="searchMovieTitle()" formControlName="favouriteMovie"></p-autoComplete> <sc-form-error-display [control]="formGroup.controls['favouriteMovie']"></sc-form-error-display>




  <button type="submit">Submit</button>
</form>
